<div id="info-form" hidden>
    <form class="small" autocomplete="off">
        <input type="text" name="{{ keyColumn }}" readonly hidden>
{% for column in columns if (column.name != geometryColumn and column.readonly == false) %}
        <div class="form-group mb-2">
            <div class="d-flex justify-content-between">
                <label class="font-weight-bold{{ column.notnull ? ' text-primary' }}" for="input-{{ column.name }}">
                    {{ column.name }}
                    {{ column.notnull ? '<i class="far fa-question-circle" style="cursor: help;" title="NOT NULL"></i>' }}
                </label>
                <div>
                    <i class="fas fa-check-circle text-success" hidden></i>
                    <i class="fas fa-exclamation-circle text-warning" hidden></i>
                    <i class="fas fa-times-circle text-danger" hidden></i>
                </div>
            </div>
{% if column.datatype == 'boolean' %}
            {{ include('@app/partial/sidebar/info/form/input-boolean.html.twig') }}
{% elseif column.datatype == 'integer' %}
            {{ include('@app/partial/sidebar/info/form/input-integer.html.twig') }}
{% elseif column.datatype == 'text' %}
            {{ include('@app/partial/sidebar/info/form/input-text.html.twig') }}
{% else %}
            {{ include('@app/partial/sidebar/info/form/input-varchar.html.twig') }}
{% endif %}
        </div>
{% endfor %}
    </form>
