{% extends '@layout/default.html.twig' %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div class="list-group">
                    <a href="{{ path('new') }}" class="list-group-item list-group-item-action text-center">
                        <i class="fas fa-fw fa-database"></i>
                        <strong>New (empty) table</strong>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action text-center disabled">
                        <i class="fas fa-fw fa-file-upload"></i>
                        <strong>New table from a GeoJSON file</strong>
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <h1 class="h3">
                <i class="fas fa-cloud"></i>
                Public
            </h1>
            <div class="list-group">
                {% for key, config in settings.public %}
                <a href="{{ path('map', {config: config.id}) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <strong class="mb-1">{{ config.title ?? config.id }}</strong>
                        <div>
                            <span class="badge badge-light">{{ config.id }}</span>
                        </div>
                    </div>
                    {% if config.description is not null %}
                    <p class="mb-0 small text-info">{{ config.description | nl2br }}</p>
                    {% endif %}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
