{% extends '@layout/default.html.twig' %}

{% block title %}Table{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/table.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ asset('/table.js') }}"></script>
<script>
    const custom = {{ configId | json_encode | raw }};
    const thematic = {{ thematic | json_encode | raw }};

    (function () {
        table.init(custom, thematic);
    })();
</script>
{% endblock %}

{% block links %}
<li class="nav-item">
    <a href="{{ path('map', {'config': configId}) }}" class="nav-link">
        <i class="fas fa-map-marked-alt"></i>
        Map
    </a>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#modal-columns">
        <i class="fas fa-columns"></i>
        Columns
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#modal-filter" data-toggle="modal">
        <i class="fas fa-filter"></i>
        Filter
    </a>
</li>
{% if thematic.column is not null %}
<li class="nav-item">
    <a class="nav-link" href="#modal-thematic" data-toggle="modal">
        <i class="fas fa-palette"></i>
        Thematic
    </a>
</li>
{% endif %}
{{ include('@app/navbar/export.html.twig') }}
{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="d-flex align-items-center justify-content-between my-3">
        <div>
            <div>
                <strong>Table:</strong>
                <code>{{ table.name }}</code>
                <span class="badge badge-pill badge-primary">{{ total }}</span>
            </div>
            {% if filter is not null %}
            <div>
                <strong>
                    <i class="fas fa-filter"></i>
                    Filter:
                </strong>
                <code>{{ filter }}</code>
                <span class="badge badge-pill badge-primary">{{ count }}</span>
            </div>
            {% endif %}
        </div>
        <nav>
            <ul class="pagination pagination-sm mb-0">
                {% if offset > 0 %}
                <li class="page-item">
                    <a aria-disabled="true" class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (offset - limit) })}}?sort={{ order.column }}&amp;order={{ order.order }}"
                        tabindex="-1">
                        <i class="far fa-caret-square-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a aria-disabled="true" class="page-link" href="#" tabindex="-1">
                        <i class="far fa-caret-square-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for p in 0..pages %}
                <li class="page-item {{ offset == (limit * p) ? 'active' }}">
                    <a class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (limit * p) })}}?filter={{ filter }}&amp;sort={{ order.column }}&amp;order={{ order.order }}">{{ p + 1 }}</a>
                </li>
                {% endfor %}
                {% if offset < (limit * pages) %}
                <li class="page-item">
                    <a aria-disabled="true" class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (offset + limit) })}}?sort={{ order.column }}&amp;order={{ order.order }}"
                        tabindex="-1">
                        <i class="far fa-caret-square-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="table-responsive" id="table-wrapper">
        <table class="table table-sm table-bordered table-striped table-hover mb-0">
            {% set selectColumns = table.getSelectColumns() %}
            {% set columns = table.columns | filter(c => c.name in selectColumns) %}

            {{ include('@app/table/head.html.twig') }}
            {{ include('@app/table/body.html.twig') }}
        </table>
    </div>
</main>

{{ include('@app/modal/filter.html.twig') }}
{{ thematic.column is not null ? include('@app/modal/thematic.html.twig') }}
{% endblock %}