{% extends '@layout/default.html.twig' %}

{% block title %}Table{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/table.css') }}">
{% endblock %}

{% block javascript %}
<script>
    window.custom = {{ configId | json_encode | raw }};
    window.thematic = {{ thematic | json_encode | raw }};
</script>
<script src="{{ asset('/table.js') }}"></script>
{% endblock %}

{% block links %}
<li class="nav-item">
    <a href="{{ path('map', {'config': configId}) }}" class="nav-link">
        <i class="fas fa-map-marked-alt"></i>
        Map
    </a>
</li>
<li class="nav-item">
    <a class="nav-link disabled" href="#modal-columns">
        <i class="fas fa-columns"></i>
        Columns
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#modal-filter" data-toggle="modal">
        <i class="fas fa-filter"></i>
        Filter
    </a>
</li>
{% if thematic.column != null %}
<li class="nav-item">
    <a class="nav-link" href="#modal-thematic" data-toggle="modal">
        <i class="fas fa-palette"></i>
        Thematic
    </a>
</li>
{% endif %}
<li class="nav-item dropdown">
    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
        role="button">
        <i class="fas fa-file-download"></i>
        Export
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item disabled" href="{{ path('export', {'config': configId, 'format':'geojson'}) }}">
            <i class="far fa-file-code"></i>
            GeoJSON
        </a>
        <a class="dropdown-item disabled" href="{{ path('export', {'config': configId, 'format':'kml'}) }}">
            <i class="far fa-file-code"></i>
            KML
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item disabled" href="{{ path('export', {'config': configId, 'format':'csv'}) }}">
            <i class="fas fa-file-csv"></i>
            CSV
        </a>
        <a class="dropdown-item disabled" href="{{ path('export', {'config': configId, 'format':'csv'}) }}">
            <i class="far fa-file-excel"></i>
            Excel
        </a>
    </div>
</li>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="d-flex align-items-center justify-content-between my-3">
        <div>
            <div>
                <strong>Table:</strong>
                <code>{{ table.identifier.table }}</code>
                <span class="badge badge-pill badge-primary">{{ total }}</span>
            </div>
            {% if filter is not null %}
            <div>
                <strong>
                    <i class="fas fa-filter"></i>
                    Filter:
                </strong>
                <code>{{ filter }}</code>
                <span class="badge badge-pill badge-primary">{{ count }}</span>
            </div>
            {% endif %}
        </div>
        <nav>
            <ul class="pagination pagination-sm mb-0">
                {% if offset > 0 %}
                <li class="page-item">
                    <a aria-disabled="true" class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (offset - limit) })}}?sort={{ order.column }}&amp;order={{ order.order }}"
                        tabindex="-1">
                        <i class="far fa-caret-square-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a aria-disabled="true" class="page-link" href="#" tabindex="-1">
                        <i class="far fa-caret-square-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for p in 0..pages %}
                <li class="page-item {{ offset == (limit * p) ? 'active' }}">
                    <a class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (limit * p) })}}?filter={{ filter }}&amp;sort={{ order.column }}&amp;order={{ order.order }}">{{ p + 1 }}</a>
                </li>
                {% endfor %}
                {% if offset < (limit * pages) %}
                <li class="page-item">
                    <a aria-disabled="true" class="page-link"
                        href="{{ path('table', {'config': configId, 'offset': (offset + limit) })}}?sort={{ order.column }}&amp;order={{ order.order }}"
                        tabindex="-1">
                        <i class="far fa-caret-square-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="table-responsive" id="table-wrapper">
        <table class="table table-sm table-bordered table-striped table-hover mb-0">
            <thead class="thead-light">
                <tr>
                    {% for column in columns if column.name != geometryColumn.name %}
                    <th scope="col" {{ thematic.column == column.name ? ' colspan="2"'}}>
                        <a href="{{ path('table', {'config': configId, 'offset': 0}) }}?sort={{ column.name }}&amp;order={{ order.column == column.name and order.order == 'asc' ? 'desc' : 'asc' }}"
                            class="d-flex justify-content-between align-items-center">
                            <span>
                                {{ thematic.column == column.name ? '<i class="fas fa-palette"></i>'}}
                                {{ column.name }}
                            </span>
                            {% if order.column == column.name and order.order == 'asc' %}
                            <i class="fas fa-sort-up"></i>
                            {% elseif order.column == column.name and order.order == 'desc' %}
                            <i class="fas fa-sort-down"></i>
                            {% else %}
                            <i class="fas fa-sort"></i>
                            {% endif %}
                        </a>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <th class="text-right" scope="row">{{ record.id }}</th>
                    {% for column in columns if column.name != keyColumn.name and column.name != geometryColumn.name %}

                    {% set value = attribute(record.properties, column.name) %}

                    {% if thematic.column == column.name %}
                    {% set symbol = attribute(thematic.values, value) %}
                    <td class="text-center" style="color: {{ symbol.color }};">
                        <i class="fas fa-circle"></i>
                    </td>
                    {% endif %}

                    <td class="text-nowrap{{ column.datatype == 'integer' ? ' text-right' : column.datatype == 'boolean' ? ' text-center' }}"
                        data-datatype="{{ column.datatype }}">
                        {{ value(value, column.datatype) }}
                    </td>

                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{{ include('@app/modal/filter.html.twig') }}
{{ include('@app/modal/thematic.html.twig') }}
{% endblock %}
