<div id="sidebar" class="d-flex">
  <div class="d-flex flex-column bg-light" style="width: 4.5rem;">
    <ul class="nav nav-flush flex-column mb-auto text-center" role="tablist">
      <li class="nav-item" role="presentation">
        <a href="#sidebar-baselayers" id="sidebar-baselayers-tab" class="nav-link py-3 border-bottom" title="Baselayers" role="tab" data-bs-toggle="tab">
          <i class="fas fa-fw fa-2x fa-map"></i>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#sidebar-layers" id="sidebar-layers-tab" class="nav-link py-3 border-bottom" title="Layers" role="tab" data-bs-toggle="tab">
          <i class="fas fa-fw fa-2x fa-layer-group"></i>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#sidebar-geocoder" id="sidebar-geocoder-tab" class="nav-link py-3 border-bottom" title="Geocoder" role="tab" data-bs-toggle="tab">
          <i class="fas fa-fw fa-2x fa-map-marker-alt"></i>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#sidebar-info" id="sidebar-info-tab" class="nav-link py-3 border-bottom disabled" title="Info" role="tab" data-bs-toggle="tab">
          <i class="fas fa-fw fa-2x fa-info"></i>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a href="#sidebar-form" id="sidebar-form-tab" class="nav-link py-3 border-bottom disabled" title="Edit" role="tab" data-bs-toggle="tab">
          <i class="fas fa-fw fa-2x fa-edit"></i>
        </a>
      </li>
    </ul>
    <!-- <div class="dropdown border-top">
      <a href="#"
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="24" height="24">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>
  <div class="tab-content border-start border-top">
    <div class="tab-pane fade" id="sidebar-baselayers" role="tabpanel" aria-labelledby="sidebar-baselayers-tab">
      {{ include('@app/map/sidebar/baselayers.html.twig') }}
    </div>
    <div class="tab-pane fade" id="sidebar-layers" role="tabpanel" aria-labelledby="sidebar-layers-tab">
      {{ include('@app/map/sidebar/layers.html.twig') }}
    </div>
    <div class="tab-pane fade" id="sidebar-geocoder" role="tabpanel" aria-labelledby="sidebar-geocoder-tab">
      {{ include('@app/map/sidebar/geocoder.html.twig') }}
    </div>
    <div class="tab-pane fade" id="sidebar-info" role="tabpanel" aria-labelledby="sidebar-info-tab">
      {{ include('@app/map/sidebar/info.html.twig') }}
    </div>
    <div class="tab-pane fade" id="sidebar-form" role="tabpanel" aria-labelledby="sidebar-form-tab">
      {{ include('@app/map/sidebar/form.html.twig') }}
    </div>
  </div>
</div>