<tbody>
    {% for record in records %}
    <tr>
        <th class="text-right" scope="row">{{ record.id }}</th>

        {% set keyColumn = table.keyColumn.name %}

        {% for column in columns if column.name != keyColumn %}

        {% set value = attribute(record.properties, column.name) %}

        {% if thematic.column == column.name %}
        {% set symbol = attribute(thematic.values, value) %}
        <td class="text-center" style="color: {{ symbol.color }};">
            <i class="fas fa-circle"></i>
        </td>
        {% endif %}

        {% if column.config.preview == true or column.config.download == true %}
        {{ file(value, column.config.preview, column.config.download) }}
        {% else %}
        {{ value(value, column.datatype) }}
        {% endif %}

        {% endfor %}

        {% for foreign in foreignTables %}

        {% set fselectColumns = foreign.getSelectColumns() %}
        {% set fcolumns = foreign.columns | filter(c => c.name in fselectColumns) %}

        {% for fcolumn in fcolumns %}

        {% set value = attribute(record.properties, foreign.name ~ '.' ~ fcolumn.name) %}

        {% if fcolumn.config.preview == true or fcolumn.config.download == true %}
        {{ file(value, fcolumn.config.preview, fcolumn.config.download) }}
        {% else %}
        {{ value(value, fcolumn.datatype) }}
        {% endif %}

        {% endfor %}

        {% endfor %}
    </tr>
    {% endfor %}
</tbody>