<div id="modal-filter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-filter"></i> Filter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    {% if thematic.column is not null %}
                    <datalist id="filter-value-thematic">
                        {% for value, symbol in thematic.values %}
                        <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </datalist>
                    {% endif %}
                    <div class="row">
                        <div class="col-4">
                            <select name="key" class="form-control">
                                <optgroup label="Table: {{ table.identifier.table }}">
                                    {% for column in columns if column.name not in [geometryColumn.name, 'updateuser', 'updatetime'] %}
                                    <option
                                        value="{{ table.identifier.schema }}.{{ table.identifier.table }}.{{ column.name }}"
                                        data-column="{{ column.name }}" data-datatype="{{ column.datatype }}">
                                        {{ column.name }}
                                    </option>
                                    {% endfor %}
                                </optgroup>
                                <!-- <optgroup label="Geometry">
                                    <option value="geometry.type">Geometry type</option>
                                    <option value="geometry.length">Length</option>
                                    <option value="geometry.area">Area</option>
                                    <option value="geometry.perimeter">Perimeter</option>
                                </optgroup> -->
                            </select>
                        </div>
                        <div class="col-3">
                            <select name="operation" class="form-control text-center">
                                <option value="eq">=</option>
                                <option value="ne">&ne;</option>
                                <option value="gt">&gt;</option>
                                <option value="ge">&ge;</option>
                                <option value="lt">&lt;</option>
                                <option value="le">&le;</option>
                                <option value="like">LIKE</option>
                                <option value="nlike">NOT LIKE</option>
                                <option value="null">IS NULL</option>
                                <option value="nnull">IS NOT NULL</option>
                            </select>
                        </div>
                        <div class="col">
                            <input name="value" class="form-control">
                            <select name="value" class="form-control filter-value-boolean" hidden>
                                <option value="1">TRUE</option>
                                <option value="0">FALSE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="reset" class="btn btn-secondary">
                        Clear filter
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-filter"></i>
                        Apply
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
