<thead>
    <tr>
        <th colspan="{{ table.table.columns | length }}">
            Table &laquo; {{ table.table.name }} &raquo;
            {{ table.isView ? '<span class="badge bg-info text-dark">VIEW</span>' }}

            {% if filter.active %}
            <span class="badge rounded-pill bg-light text-dark">{{ table.count }}</span>
            <span class="badge rounded-pill bg-primary"><i class="fas fa-filter"></i> {{ filter.count }}</span>
            {% else %}
            <span class="badge rounded-pill bg-primary">{{ table.count }}</span>
            {% endif %}
        </th>
        {% for fk in table.foreignKeys %}
        <th colspan="{{ fk.foreignTable.columns | length }}">
            Table &laquo; {{ fk.foreignTable.name }} &raquo;
        </th>
        {% endfor %}
    </tr>
    <tr>
        {% for column in table.table.columns %}
        <th>
            <a href="{{ path('table', {offset: 0}, {sort: (table.table.name ~ '_' ~ column.name), order: (sort == (table.table.name ~ '_' ~ column.name) and order == 'asc' ? 'desc' : 'asc'), search: ui.search}) }}"
                class="text-body text-decoration-none d-flex justify-content-between align-items-center">
                <span class="text-nowrap me-2">
                    {{ (table.table.name ~ '_' ~ column.name) == table.primaryKey ? '<i class="fas fa-fw fa-key"></i>' }}
                    {{ (column.name) in (table.foreignKeys | column('localColumn')) ? '<i class="fas fa-fw fa-link"></i>' }}
                    {{ column.name }}
                </span>
                {% if sort == (table.table.name ~ '_' ~ column.name) and order == 'asc' %}
                <i class="fas fa-sort-up"></i>
                {% elseif sort == (table.table.name ~ '_' ~ column.name) and order == 'desc' %}
                <i class="fas fa-sort-down"></i>
                {% else %}
                <i class="fas fa-sort"></i>
                {% endif %}
            </a>
        </th>
        {% endfor %}
        {% for fk in table.foreignKeys %}
        {% for id, column in fk.foreignTable.columns %}
        <th>
            <a href="{{ path('table', {offset: 0}, {sort: (fk.foreignTable.name ~ '_' ~ column.name), order: (sort == (fk.foreignTable.name ~ '_' ~ column.name) and order == 'asc' ? 'desc' : 'asc')}) }}"
                class="text-body text-decoration-none d-flex justify-content-between align-items-center">
                <span class="text-nowrap me-2">{{ column.name }}</span>
                {% if sort == (fk.foreignTable.name ~ '_' ~ column.name) and order == 'asc' %}
                <i class="fas fa-sort-up"></i>
                {% elseif sort == (fk.foreignTable.name ~ '_' ~ column.name) and order == 'desc' %}
                <i class="fas fa-sort-down"></i>
                {% else %}
                <i class="fas fa-sort"></i>
                {% endif %}
            </a>
        </th>
        {% endfor %}
        {% endfor %}
    </tr>
</thead>