<input type="text" class="form-control form-control-sm" id="input-{{ column.name }}" name="{{ column.name }}"
    data-datatype="{{ column.datatype }}" list="datalist-{{ column.name }}" {{ column.isnullable ? '' : ' required' }}>
<small class="form-text text-muted"></small>

<datalist id="datalist-{{ column.name }}">
    {% for key, value in column.config.reference.values %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</datalist>