<select class="form-control form-control-sm" id="input-{{ column.name }}" name="{{ column.name }}"
    data-datatype="{{ column.datatype }}" {{ column.isnullable ? '' : ' required' }}>
    {{ column.isnullable ? '<option></option>' }}
    {% for key, value in column.config.reference.values %}
    <option value="{{ key }}">{{ value }}</option>
    {% endfor %}
</select>