<div id="info-form" hidden>
    <form class="small" autocomplete="off">
        <input type="text" name="{{ table.keyColumn.name }}" readonly hidden>

        <div id="info-form-alert-error" class="alert alert-danger" role="alert" hidden>
            <pre class="m-0"><code></code></pre>
        </div>

        {% if table.geometryColumn is not null %}
        {% set columns = table.columns | filter(c => c.name != table.geometryColumn.name) %}
        {% else %}
        {% set columns = table.columns %}
        {% endif %}

        {% for column in columns if column.readonly == false %}
        <div class="form-group mb-2">
            <div class="d-flex justify-content-between">
                <label class="font-weight-bold{{ column.isnullable ? '' : ' text-primary' }}"
                    for="input-{{ column.name }}">
                    {{ thematic.column == column.name ? '<i class="fas fa-fw fa-palette"></i>' }}
                    {{ column.isForeignKey == true ? '<i class="fas fa-fw fa-link"></i>' }}
                    {{ column.name }}
                    {{ column.isnullable ? '' : '<i class="far fa-question-circle" style="cursor: help;" title="NOT NULL"></i>' }}
                </label>
                <div>
                    <i class="fas fa-spinner fa-spin" hidden></i>
                    <i class="fas fa-check-circle text-success" hidden></i>
                    <i class="fas fa-exclamation-circle text-warning" hidden></i>
                    <i class="fas fa-times-circle text-danger" hidden></i>
                </div>
            </div>
            {% if column.name == thematic.column %}
            {{ include('@app/map/sidebar/form/thematic.html.twig') }}
            {% elseif column.reference is not null and column.reference.mode == 'listbox' %}
            {{ include('@app/map/sidebar/form/reference/listbox.html.twig') }}
            {% elseif column.reference is not null and column.reference.mode == 'datalist' %}
            {{ include('@app/map/sidebar/form/reference/datalist.html.twig') }}
            {% elseif column.datatype == 'boolean' %}
            {{ include('@app/map/sidebar/form/input-boolean.html.twig') }}
            {% elseif column.datatype == 'integer' %}
            {{ include('@app/map/sidebar/form/input-integer.html.twig') }}
            {% elseif column.datatype == 'text' %}
            {{ include('@app/map/sidebar/form/input-text.html.twig') }}
            {% else %}
            {{ include('@app/map/sidebar/form/input-varchar.html.twig') }}
            {% endif %}
        </div>
        {% endfor %}
    </form>
</div>
